<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/container.css' />
    <link rel='stylesheet' href='/stylesheets/banner.css' />
</head>
<body>
<div class="wrap">
    <%- include ../partials/header_login.ejs -%>
    <div class="container">
        <div class="index_title">
            메인 배너 관리
        </div>
        <div class="banner_title">
            현재 배너 목록
        </div>
        <ol>
            <% for (var i = 0; i < 6; i++ ) {  %>
                <li><%= i+1 %>. 배너<%= i+1 %><button>삭제</button></li>
            <% } %>
        </ol>
        <button class="file_btn">파일첨부</button>
    </div>
</div>
</body>
</html>
