<!DOCTYPE html>
<html>
<head>
  <title>봄이와 얌</title>
  <%-include('partials/header.ejs');-%>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
</head>
<body>
<div id="wrap">
  <%-include('partials/nav.ejs',{categories});-%>
  <!--헤더-->
  <a href="/signaturepick/bom">
    <div class="BOM_icon">BOM's pick</div>
  </a>
  <a href="/signaturepick/yam">
    <div class="YAM_icon">YAM's pick</div>
  </a>
  <!-- 픽 고정배너-->
  <div id="container">
    <div class="float_area">
      <div class="float_menu">
        <div class="side_banner">
          <div class="side_title">추천상품</div>
        </div>
      </div>

    </div>
    <div class="main_visual">
      <div class="slide">
        <ul>
          <li><img src="images/banner1.svg" alt="배너1"></li>
          <li><img src="images/banner2.svg" alt="배너2"></li>
          <li><img src="images/banner3.svg" alt="배너3"></li>
          <li><img src="images/banner4.svg" alt="배너4"></li>
        </ul>
        <button class="prev" type="button"><img src="images/bannerbtn1.svg" alt="이전버튼"></button>
        <button class="next" type="button"><img src="images/bannerbtn2.svg" alt="다음버튼"></button>
      </div>
    </div>
    <!--메인베너-->
    <div class="best">
      <div class="main_ani_best">
        <div></div>
        <div class="ani_best_title">
          DOG BEST
        </div>
        <button class="more_btn">more</button>
      </div>
      <ul class="ani_best">
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/dogbest.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">건강백서 건강한 피부 6kg</div>
                <b>32,000원</b>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/dogbest.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">건강백서 건강한 피부 6kg</div>
                <b>32,000원</b>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/dogbest.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">건강백서 건강한 피부 6kg</div>
                <b>32,000원</b>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/dogbest.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">건강백서 건강한 피부 6kg</div>
                <b>32,000원</b>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="main_ani_best">
        <div></div>
        <div class="ani_best_title">
          CAT BEST
        </div>
        <button class="more_btn">more</button>
      </div>
      <ul class="ani_best">
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/catbest.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">오픈팜 봄이의 닭고기&연어</div>
                <b>32,000원</b>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/catbest.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">오픈팜 봄이의 닭고기&연어</div>
                <b>32,000원</b>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/catbest.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">오픈팜 봄이의 닭고기&연어</div>
                <b>32,000원</b>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/catbest.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">오픈팜 봄이의 닭고기&연어</div>
                <b>32,000원</b>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="main_ani_best">
        <div></div>
        <div class="ani_best_title">
          NKOWHOW
        </div>
        <button class="more_btn">more</button>
      </div>
      <ul class="ani_best">
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/yam.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">얌이와의 설레는 아이컨택</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/bom.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">봄이에게 모델포즈 시키는 법</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/yam.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">과자를 바라보고 있는 얌</div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="ani_product">
              <img src="images/bom.svg" width="200px" height="200px" alt="얌이">
              <div class="product_text">
                <div class="product_title">자기가 귀여운걸 아는게 분명해</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!--베스트 영역-->
  </div>
  <!--컨테이너 영역-->
 <%-include('partials/footer.ejs');-%>
  <!--footer-->
</div>
</body>
</html>

