.header{
    width: 100%;
    margin: 0 auto;
    height: 150px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6F6F6F;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: #6F6F6F;
}

.head{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout_btn{
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    float: left;
    color: #ffcb12;
    border: none;
    background: #ffeaa1;
    cursor: pointer;
}