#wrap{
  width: 100%;
  min-height: 2000px;
  margin: 0 auto;
}

.header{
  height: 150px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6F6F6F;
  font-weight: bolder;
}

.container{
  width: 520px;
  height: 1000px;
  margin: 0 auto;
}

.login_title{
  font-size: 30px;
  color: #6F6F6F;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.login_box{
  width: 480px;
  border: 0.5px solid #EFEFEF;
  padding: 20px;
}

.item{
  width: 442px;
  height: 48px;
  margin: 10px;
  padding-left: 20px;
  outline: 0;
}

.login_txt{
  font-size: 20px;
  padding-left: 0;
  margin-bottom: 0;
}

.id_box,.pwd_box{
  font-weight: 500;
  font-size: 18px;
  color: #6F6F6F;
  border: 1px solid #6F6F6F;
  background: #EFEFEF;
  line-height: 50px;
}

button{
  border: 0;
}

.log_box{
  width: 465px;
  height: 53px;
  font-weight: 500;
  font-size: 18px;
  line-height: 55px;
  padding-right: 20px;
  text-align: center;
  background: #FFCB12;
}

.log_box:hover,.jn_box:hover{
  opacity: 70%;
  border: #ffcb12;
}


.loginCheck_txt{
  margin-top: 10px;
  margin-left: 10px;
}

.id_find{
  margin-top: 5px;
  padding-right: 15px;
  float: right;
  text-decoration: none;
  color: #6F6F6F;
}

.pwd_find{
  margin-top: 5px;
  margin-right: 7px;
  float: right;
  text-decoration: none;
  color: #6F6F6F;
}