.prod_list{
    display: flex;
    justify-content: space-between;
}

.checkbox{
    width: 30px;
    height: 30px;
}

.add_img{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.add_title{
    font-size: 25px;
    color: #6F6F6F;
    font-weight: bolder;
    width: 220px;
}

.add_name{
    padding-bottom: 20px;
    display: flex;
}

.add_price{
    display: flex;
}

.add_cate{
    display: flex;
    padding-top: 20px;
}

input[type="text"]{
    width: 400px;
    outline: none;
    border: 1px solid #ffcb12;
    background: #ffeaa1;
}