<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <script>
        let token = <%= token %>
        if(!token){
            location.href = '/login'
        }
    </script>
</head>
<body>
    <div class="wrap">
        <%- include partials/header_login.ejs -%>
        <div class="container">
            <a href="/banner">1. 메인 배너 관리</a><br>
            <a href="/bomspick">2. BOM's pick 관리</a><br>
            <a href="/yamspick">3. YAM's pick 관리</a><br>
            <a href="/dogbest">4. DOG BEST 관리</a><br>
            <a href="/catbest">5. CAT BEST 관리</a><br>
            <a href="/knowhow">6. NKOWHOW 관리</a><br>
        </div>
    </div>
</html>
