<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
  <div id="wrap">
    <% include header.ejs %>
    <div class="container">
      <div class="login">
        <div class="login_title">로그인</div>
        <div class="login_box">
          <div class="item login_txt">관리자 로그인</div>
          <input name="user_id" type="text" class="item id_box" onfocus="this.value=''" value="아이디(이메일)"></input>
          <input name="user_pw" type="password" class="item pwd_box" onfocus="this.value=''" value="비밀번호"></input>
          <button type="button" class="item log_box">로그인</button>
          <label>
            <input type="checkbox" class="item2 loginCheck_txt">아이디 저장</input>
          </label>
          <a href="#" class="item2 pwd_find">비밀번호 찾기</a>
          <a href="#" class="item2 id_find">아이디 찾기</a>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
