<script type="text/javascript" src="../javascripts/floatbanner.js"></script>
<div class="float_area">
    <div class="float_menu">
        <div class="side_banner">
            <div class="side_title">추천상품</div>
        </div>
    </div>
</div>

