<div id="header_wrap">
    <div class="headerContainer">
        <div></div>
        <h1 class="logo">
            <a href="../index.html">
                <img src="../images/logo.svg" alt="메인페이지 로고">
            </a>
            <a class="logo_text" href="../index.html">
                <div class="logo_text">BOM and YAM</div>
            </a>
        </h1>
        <div class="navi">
            <ul class="navi_list">
                <li style="padding-right: 25px">
                    <a href="../html/join.html">회원가입</a>
                    /
                    <a href="../html/login.html">로그인</a>
                </li>
                <li>
                    <a href="#">장바구니</a>
                </li>
            </ul>
        </div>
    </div>
    <!--로고있는 헤더-->
    <div class="headerBanner">
        <div class="categoryWrap">
            <div class="btnAllCategory">전체 카테고리
                <ul>
                    <% categories.forEach(category => { %>
                        <li> <%- include('../partials/navigation', {category: category}); -%></li>
                    <% }) %>
                </ul>
            </div>
            <ul class="navi_list">
                <li style="padding-right: 25px">
                    <a href="../html/best.html">베스트</a>
                </li>
                <li>
                    <a href="#">노하우</a>
                </li>
            </ul>
        </div>
        <div class="search_area">
            <form action="/product">
                <input type="text" id="search_form" name="query" class="search_text">
                <input type="submit" class="search_img" src="images/search.svg">
            </form>
        </div>
    </div>
    <!--카테고리헤더-->
</div>
<!--헤더-->