<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <%-include('../partials/header');-%>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
</head>
<body>
<div id="wrap">
    <%-include('../partials/nav.ejs',{categories});-%>
    <!--헤더-->
    <a href="/signaturepick/bom">
        <div class="BOM_icon">BOM's pick</div>
    </a>
    <a href="/signaturepick/yam">
        <div class="YAM_icon">YAM's pick</div>
    </a>
    <!-- 픽 고정배너-->
    <div id="container">
        <div class="login_text">결제하기</div>
        <div class="login_box">
            <div class="item login_txt">상품번호 : </div>
            <div class="item login_txt">수량 : </div>
            <div class="item login_txt">상품가격 : </div>
            <div class="item login_txt">배달비 : </div>
            <div class="item login_txt">총 가격 : </div>
            <button type="submit" class="item log_box">결제하기</button>
        </div>
    </div>
    <!--컨테이너 영역-->
    <%-include('../partials/footer.ejs');-%>
    <!--footer-->
</div>
</body>
</html>

