<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
    <%-include('../partials/header.ejs');-%>
</head>
<body>
<div id="wrap">
    <%-include('../partials/nav.ejs');-%>
    <%-include('partials/pick_icon,ejs');-%>
    <!--pick 아이콘-->
    <div id="container">
        <div class="login_text">LOGIN</div>
        <div class="login_box">
            <div class="item login_txt">회원 로그인</div>
            <input type="text" class="item id_box" onfocus="this.value=''" value="아이디(이메일)"></input>
            <input type="text" class="item pwd_box" onfocus="this.value=''" value="비밀번호"></input>
            <button type="button" class="item log_box">로그인</button>
            <label>
                <input type="checkbox" class="item2 loginCheck_txt">아이디 저장</input>
            </label>
            <a href="#" class="item2 pwd_find">비밀번호 찾기</a>
            <a href="#" class="item2 id_find">아이디 찾기</a>

        </div>
        <a href="../html/join.html" class="login_img">
            <img src="../images/joinLink.svg" alt="회원가입창 이동">
        </a>
    </div>
    <%-include('../partials/footer.ejs');-%>
</div>
</body>
</html>