<!DOCTYPE html>
<html>
<head>
    <title>join</title>
    <link rel="stylesheet" href="../stylesheets/login.css">
    <%-include('../partials/header.ejs');-%>
</head>
<body>
<div id="wrap">
    <%-include('../partials/nav.ejs');-%>
    <%-include('../partials/pick_icon.ejs');-%>
    <!--pick 아이콘-->
    <div id="container">
        <div class="join_text">회원가입</div>
        <div class="join_box">
            <input type="text" onfocus="this.value=''" class="join_item id_input" value="*아이디(이메일 형식)"></input>
            <input type="text" onfocus="this.value=''" class="join_item pwd_input" value="*비밀번호"></input>
            <input type="text" onfocus="this.value=''" class="join_item pwd2_input" value="*비밀번호 확인"></input>
            <input type="text" onfocus="this.value=''" class="join_item name_input" value="*이름"></input>
            <input type="text" onfocus="this.value=''" class="join_item phone_input" value="*전화번호"></input>
            <input type="text" onfocus="this.value=''" class="join_item address_input" value="*주소"></input>
            <div class="join_item input_text">성별
                <label><input type="radio" class="genderCheck_txt" name="gender" value="F">여자</input></label>
                <label><input type="radio" class="genderCheck_txt" name="gender" value="M">남자</input></label>
            </div>
            <div class="join_item input_text">
                생년월일&nbsp;&nbsp;
                <input type="date" class="">
            </div>
            <button type="button" class="item jn_box">회원가입</button>
        </div>
    </div>
    <%-include('../partials/footer.ejs');-%>
</div>
</body>
</html>